extends layout

block content
    h2 #{heading}
    form(method='POST', action='/article/edit/'+article._id)
        #form-group
            label Title:
            input.form-control(name='title', type='text', value=article.title)
        #form-group
            label Body:
            textarea.form-control(name='body')=article.body
        #form-group
            label author:
            input.form-control(name='author', type='text',value=article.author)
        input.btn.btn-primary(type='submit',value='submit')             