extends layout

block content
    h1 #{heading}
    dl
         each article, i in articles
            dt
                h3= article.title
            dd
                p=article.body
                span(style="border:1px solid #000000;")=article.tag
